test/
SDL2-2.28.5/
cJSON/
NDL/
include/*.dll
include/SDL.h
include/SDL_*
include/begin_*
include/close_*
common/
NDL_x86_64/
.vscode/
README.txt
install-NDL.ps1
install-NDL-ADMIN.ps1
NewProject-NDL.bat