test/
lib/
SDL2-2.28.5/
setup/
NGPL/
include/*.dll
include/SDL.h
include/SDL_*
include/begin_*
include/close_*
NGPL_x86/
common/
NGPL_x86_64/
.vscode/
runTest.bat
comp.bat
README.txt
image.png
image-1.png